.container {
	text-align: center;
}

.input {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	width: 15rem;
	height: 2.5rem;
	border-radius: 5px;
	background-color: transparent;
	color: black;
	border: none;
	box-shadow: 0 10px 20px -5px rgba(115, 115, 115, 0.75),
		-10px 0 20px -5px rgba(115, 115, 115, 0.75);
}

.btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	width: 15rem;
	height: 2.5rem;
	border-radius: 5px;
	background-color: transparent;
	color: black;
	border: none;
	box-shadow: 0 10px 20px -5px rgba(115, 115, 115, 0.75),
		-10px 0 20px -5px rgba(115, 115, 115, 0.75);
}

.error {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	width: 15rem;
	height: 2.5rem;
	border-radius: 5px;
	background-color: transparent;
	color: black;
	border: red solid 3px;
	box-shadow: 0 10px 20px -5px rgba(115, 115, 115, 0.75),
		-10px 0 20px -5px rgba(115, 115, 115, 0.75);
}

.success {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	width: 15rem;
	height: 2.5rem;
	border-radius: 5px;
	background-color: transparent;
	color: black;
	border: green solid 3px;
	box-shadow: 0 10px 20px -5px rgba(115, 115, 115, 0.75),
		-10px 0 20px -5px rgba(115, 115, 115, 0.75);
}
