.container {
	width: 100vw;
	height: 50px;
	background-color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: 0 10px 20px -5px rgba(115, 115, 115, 0.75),
		-10px 0 20px -5px rgba(115, 115, 115, 0.75);
	padding-top: 15px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
