.container {
    position: sticky;
    width: 100%;
    height: 100px;
    top: 0px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 10px 20px -5px rgba(115, 115, 115, 0.75),
        -10px 0 20px -5px rgba(115, 115, 115, 0.75);
}

.pokeball {
    width: 100px;
}